<h1>Puppies
<a href="/puppies/new" class="btn btn-success pull-right">Add Puppy</a>
</h1>

<div class="row">
  <!-- loop through the User's puppies -->
  {{#each puppies}}

    <div class="col-md-4">
      <div class="card">
        <img class="" src={{this.path}} style="width:100%">
        <h1 class="">{{this.name}}</h1>
        <p class="title">{{this.breed}}Breed</p>
        <p>{{this.age}}</p>
        <!-- Social Media Contact -->
      <div style="margin: 24px 0">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-snapchat"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>

      <p><a href="/puppies/{{this._id}}"><button>Contact</button></a></p>
      </div>
    </div>

  {{/each}}
</div>
